html{
  scroll-behavior: smooth;  
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: #3e3e3e;
}

.btn {
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(45deg, #ff8063, #f46060);
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  transition: color 300ms ease;
}

.btn:hover {
  color: #363958;
}

/* navbar starts from here */

nav {
  height: 60px;
  background-image: linear-gradient(45deg, #5D69E9, #4225B6);
}

nav > ul {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  position: absolute;
  right: 0;
}

nav > ul > li {
  padding: 30px 20px;
  display: inline-block;
  line-height: 0;
  transition: background-color 300ms ease-in-out 50ms;
}

nav > ul > li > a {
  color: white;
}

nav > ul > li:hover {
  background-color:#ff8367;
}

/* first section starts from here  */

.first-section {
  height: 550px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.first-section > div {
  height: 550px;
  width: 400px;
}

.first-section-image {
  width: 400px;
}

#name {
  color: #ff8367;
  font-size: 80px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  height: 80px;
}

#intro {
  margin: 0;
  padding-top: 100px;
  color: #363958;
  font-size: 80px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  height: 80px;
}

.first-section > .intro-text-area > p {
  margin-bottom: 10%;
}

/* second section starts from here  */

.second-section {
  height: 500px;
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.second-section > div {
  height: 500px;
  width: 400px;
}

.second-section-image {
  width: 400px;
}

.second-section > .about-text-area > h2 {
  color: #363958;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  padding-top: 80px;
}


/* third section starts from here  */

.third-section {
  height: 700px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  padding: 0 100px;
  justify-content: space-evenly;
  position: relative;
}

.work-image {
  width: 85%;
  position: relative;
  left: 25px;
  top: 25px;
}

.work-image > img {
  width: 100%;
}

.work-image > a{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  display: none;
}

.work-image:hover > a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 20, 0.9);
}

.image-section {
  width: 350px;
  height: 450px;
  background-color: rgb(81, 37, 224);
  border-radius: 25px;
  transition: transform 300ms ease-in-out 50ms;
}

.image-section:hover {
  transform: translateY(-20px) ;
}

.third-section > .image-gallery > h2 {
  text-align: center;
  width: 100%;
  margin: 0 0 5% 0;
  padding-top: 5%;
  color: #363958;
  font-family: "Bebas Neue", cursive;
  font-size: 48px;
  font-weight: bold;
}

.third-section > .image-gallery > h2 > span {
  color: #f46060;
}

.work-text-area {
  padding: 30px;
}

.work-text-area > h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.work-text-area > h1 > span {
  font-size: 16px;
  font-weight: lighter;
}

.work-text-area > p {
  color: white;
  font-size: 16px;
}

.img-bg1 {
  background-image: url(images/img-bg1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.img-bg2 {
  background-image: url(images/img-bg2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.img-bg3 {
  background-image: url(images/img-bg3.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* forth section starts from here */

.forth-section {
  height: 800px;
}

.forth-section > div > h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 36px;
  color: #f46060;
  margin: 0;
  font-size: 48px;
}

.forth-section > div > p {
  text-align: center;
  font-size: 24px;
  margin: 0 0 50px 0;
}

.skill-container {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 100px;

}

.skill-header {
  display: flex;
  justify-content: space-around;
}

.skill-header > h1 {
  color: white;
  margin: 30px 0 0 0;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 36px;
}

.icon {
  margin-top: 30px;
}

.skill {
  text-align: center;
  background-color: #4225b6;
  border-radius: 25px;
  width: 350px;
  height: 600px;
}

.skill-1 {
  background-image: url(images/skill-bg-1.png);
}

.skill-2 {
  background-image: url(images/skill-bg-2.png);
}

.skill-3 {
  background-image: url(images/skill-bg-3.png);
}

.skill-elements > p {
  color: #363958;
  font-size: 24px;
  text-align: center;
  transition: color 300ms ease ;
  cursor: default;
}

.skill-elements > p:hover {
  color:#f46060;
}


.skill-elements > P:first-child {
  padding-top: 20px;
}

.skill-elements {
  background-color: white;
  margin-left: 10px;
  width: 330px;
  height: 489px;
  border-radius: 24px;
}

/* fifth section starts from here */

.fifth-section {
  height: 500px;
  margin: 0 125px;
}

.collab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collab > h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 36px;
  color: #f46060;
  margin: 0 0 10px 0;
  font-size: 48px;
}

.collab > h1 > span {
  color: #363958;
}

.collab > p {
  text-align: center;
  font-size: 24px;
  margin: 0 0 30px 0;
}

.company {
  background-image: linear-gradient(45deg, #5D69E9, #4225B6);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.company-name-container {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 280px;
  border-radius: 20px;
  background-color: white;
}

.company-name img {
  width: 250px;
  padding: 10%;
}

/* footer starts from here */

.footer-container {
  height: 400px;
}

.work-inquiry {
  height: 200px;
  width: 650px;
  background-image: url(shapes/work-inquiry.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  margin-left: 355px;
  display: flex;
}

.work-inquiry > h1 {
  color: white;
  padding: 30px 0 0 50px;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}

.work-inquiry > div {
  padding: 75px 0 0 250px;
}

.work-inquiry > div > a {
  color: white;
  background-image: linear-gradient(45deg, #ff8063, #f46060);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.gmail {
  text-align: center;
}

.gmail > p {
  color: #696871;
  font-size: 20px;
  font-weight: bold;
}

.gmail > h1 {
  color: #363958;
  font-size: 32px;
  font-weight: bold;
}

.social-icon-container {
  width: 30px;
  position: fixed;
  bottom: 0;
  right: 20px;
}

.social-icon {
  margin-bottom: 10px;
}

.social-icon > a > img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.social-icon > a > img:hover {
  transform: scale(1.2);
}

.social-icon-container:hover .line {
  border-left: 3px #ff8063 solid;
}

.line {
  border-left: 3px #363958 solid;
  height: 50px;
  width: 50px;
  margin-left: 13px;
  transition: all 0.5s ease-in-out;
}